@tailwind base;
@tailwind components;
@tailwind utilities;

#playlist li{
    padding: 5px;
    transition: transform 0.3s;
    
}

#playlist li:hover{
    transform: scale(0.95);
    background-color: #9277e3;
    transition: transform 0.3s;
}
.songartist{
    text-indent: 10px;
}

#menu-button{
    cursor: pointer;
}
ul{
    padding-top: 5px;
    padding-bottom: 5px;
}
#menu{
    transition: transform 0.5s ease;
    
  
    box-shadow: inset -20px 0 20px -10px rgba(0, 0, 0, 0.5);
}

#dots{
    padding: 3px;
}

#container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;

}


.custom-scrollbar::-webkit-scrollbar-track {
  background: #c0c0c000; 
}


.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000; 
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

#super-span{
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.3);
    background-color: #00000000;
    padding: 1px;
}

.li-song{
    flex-grow: 1;
    flex-basis: 300px;
    
}



